extends layout

block content
    h1= title
    
    if itemList.length
        ul
            each itemName in itemList
                li
                    p #[strong Product: ] 
                        a(href='/category/item/' + itemName._id) #{itemName.name}
                    p #{itemName.description}
                    p #[strong Price: ] € #{itemName.price}
                    p #[strong Items in stock: ] #{itemName.numberInStock}
    else
        p There are no item
    hr
    p
        a(href="/") Home page (view categories)
    p
        a(href=category.url+'/delete') Delete category
    p
        a(href=category.url+'/update') Update category