extends layout

block content

    h1 #{title}: #{category.name}

    if items.length

         p.explanation #[strong Delete the following items before attempting to delete this category.]
         div.productList
            h2 Items in category
            dl
                each item in items
                    dt
                        a(href='/category'+item.url) #{item.name}
    
    else
        p.question Do you really want to delete this category?

        form(method="POST")
            div.form-delete
                input(type='hidden' name='categoryid' value=category._id)
                label(for='password') Enter password:
                input(type='text' name='password' id='password')
            button(type='submit') Delete
    if error
        p.warning Wrong password
    hr
    p.create
        a(href=category.url) Go back to #{category.name}