extends layout

block content
    div.header
        h1= title
        p Welcome to #{title}, your place to find the perfect keeb for your needs!

    h2 Category list
    if category_list.length
        ul.category-list
            each category in category_list
                li
                    a(href=category.url) #{category.name}
                p #{category.description}
    else
            p There are no categories
    hr
    p.create
        a(href='/create') Create a category
    p.create
        a(href='/category/item/create') Create a new item

