extend layout

block content

    h1= title
    if item
        div.productDetail
            p.description #{item.description}
            p #[strong Price: ] € #{item.price}
            p #[strong Items in stock: ] #{item.numberInStock}
    else
            p There is no item
    hr
    p.create
        a(href='/category/'+categoryID) Back to #{category.name}
    p.create
        a(href='/category' + item.url + '/delete') Delete item
    p.create
        a(href='/category'+item.url+'/update') Update item